/* Job Application Form CSS*/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.title {
  text-align: center;
}

.container {
  margin: 50px auto;
  padding: 25px;
  max-width: 560px;
  border-radius: 10px;
  box-shadow: 0 2px 6px gray;
  background-color: whitesmoke;
}

.normal-label {
  font-size: 1.2em;
  font-weight: bold;
}

.normal-input {
  font-size: 1em;
  outline: none;
  border: 1px solid orangered;
  border-radius: 5px;
  margin: 6px auto 16px;
  padding: 12px 16px;
  width: calc(100% - 32px);
}

.select-input {
  font-size: 1em;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 6px 0 16px;
  padding: 10px;
  width: 100%;
}

.radio-group {
  padding: 25px;
  margin: 6px 0 16px;
}

.label-radio {
  font-size: 1.1em;
  font-weight: bold;
  margin: auto 26px auto 6px;
}

.input-radio {
  width: 25px;
  height: 25px;
}

button {
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border-radius: 6px;
  margin: 6px 0 16px;
  padding: 10px;
  width: 100%;
  color: white;
  border: 1px solid green;
  background-color: green;
  transition:
    background-color 0.3s,
    border 0.5s ease;
}

/* Instructions */

input:focus,
textarea:focus {
  border-color: blue;
}

input:invalid,
select:invalid,
textarea:invalid {
  border-color: red;
}

input:valid,
select:valid,
textarea:valid {
  border-color: green;
}

button:hover {
  color: white;
  font-weight: bold;
  border: 1px solid blue;
  background-color: blue;
}

.radio-group input[type='radio']:checked {
  border-radius: 50%;
  border: 2px solid green;
  background-color: green;
  box-shadow: inset 0 0 0 3px whitesmoke;
  appearance: none;
  transition:
    background-color 0.2s,
    border 0.2s ease;
}

input[type='radio']:checked + label {
  color: green;
  transition: color 0.3s ease;
}

input:nth-child(1) {
  border-radius: 10px;
}
