/* Playing Cards CSS */

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

#playing-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* width: 100%; */
  max-width: 620px;
  padding: 26px 16px;
  border-radius: 5px;
  margin: auto;
  border: 2px solid lightblue;
  background-color: lightgrey;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 200px;
  font-size: 26px;
  border-radius: 12px;
  padding: 6px;
  border: 2px solid gray;
  background-color: white;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
}

.left {
  align-self: flex-start;
  text-align: center;
  line-height: 0.8em;
}

.middle {
  text-align: center;
  align-self: center;
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.right {
  text-align: center;
  line-height: 0.8em;
  align-self: flex-end;
  transform: rotate(180deg);
}

.flip {
  transform: rotate(180deg);
}

.red {
  color: red;
}