/* Newspaper Article CSS */

html {
  font-size: 24px;
}

body {
  background-color: whitesmoke;
}

.newspaper {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  width: 800px;
  padding: 26px;
  margin: 60px auto;
  box-shadow: 0 2px 3px gray;
  background-color: aliceblue;
}

.name {
  margin-bottom: 0px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Times New Roman', serif;
}

.date {
  font-size: 1em;
  text-align: center;
  margin-bottom: 20px;
}

.headline {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
}

.sub-headline {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 15px;
}

.author {
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.text {
  text-indent: 20px;
  font-size: 1em;
  line-height: 2em;
  margin-bottom: 15px;
}

.text::first-letter {
  font-size: 2em;
  font-weight: bold;
}
