/* Confidential Email */

body {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  background-color: whitesmoke;
}

#email {
  width: 500px;
  border: 2px solid gray;
  padding: 50px;
  margin: auto;
  margin-top: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px gray;
  background-color: antiquewhite;
}

#confidential,
#top-secret {
  color: red;
  font-weight: bold;
  display: inline-block;
  padding: 12px;
  margin-left: 5px;
  border: 5px solid;
}

#confidential {
  transform: rotate(-15deg) scale(150%, 120%) translate(100px, 35px);
}

#top-secret {
  transform: rotate(15deg) translate(160px, -70px);
}

.blurred {
  filter: blur(3px);
}
