/* Availability Table */

:root {
  --primary-color: whitesmoke;
  --secondary-color: #081c15;
  --color0: #eaffed;
  --color1: #c7f9cc;
  --color2: #80ed99;
  --color3: #57cc99;
  --color4: #38a3a5;
  --color5: #22577a;
  --solid-border: 2px solid whitesmoke;
  --dashed-border: 1px dashed whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.available-0 {
  background-color: var(--color0);
}

.available-1 {
  background-color: var(--color1);
}

.available-2 {
  background-color: var(--color2);
}

.available-3 {
  background-color: var(--color3);
}

.available-4 {
  background-color: var(--color4);
}

.available-5 {
  background-color: var(--color5);
}

.sharp td {
  border-bottom: var(--solid-border);
}

tr[class='sharp']:first-child {
  border-bottom: var(--solid-border);
}

.half td {
  border-bottom: var(--dashed-border);
}

body {
  width: 100vw;
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secondary-color);
}

main {
  max-width: 1048px;
  margin: auto;
}

h1 {
  margin-top: 90px;
  text-align: center;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

td {
  width: calc(100% / 6);
  height: 25px;
  border-right: var(--solid-border);
  border-left: var(--solid-border);
}

#legend {
  font-size: 1.5em;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#legend-gradient {
  width: 200px;
  height: 30px;
  margin-left: 25px;
  border-radius: 2px;
  border: var(--solid-border);
  background-image: linear-gradient(
    90deg,
    var(--color0) 0% 16%,
    var(--color1) 16% 32%,
    var(--color2) 32% 48%,
    var(--color3) 48% 64%,
    var(--color4) 64% 80%,
    var(--color5) 80% 100%
  );
}
