/* Grid Template Areas CSS */

:root {
  --grid-first-row: 75px;
  --grid-last-row: 25px;
  --grid-grp: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: var(--grid-first-row) minmax(
      calc(
        100vh -
          calc(
            var(--grid-first-row) + var(--grid-last-row) +
              calc(var(--grid-grp) * 4)
          )
      ),
      1fr
    ) var(--grid-last-row);
  grid-template-areas:
    'header header'
    'sidebar content'
    'footer footer';
  gap: var(--grid-grp);
  margin: var(--grid-grp);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.85);
}

.header {
  grid-area: header;
  background: lightblue;
}

.sidebar {
  grid-area: sidebar;
  background: lightgreen;
}

.content {
  grid-area: content;
  background: lightyellow;
}

.footer {
  grid-area: footer;
  background: lightcoral;
}
