/* House Painting CSS */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.sky {
  width: 100%;
  height: 60%;
  background-color: skyblue;
}

.ground {
  width: 100%;
  height: 40%;
  background-color: green;
}

#chimney {
  position: absolute;
  top: -090px;
  right: 10%;
  width: 100px;
  height: 90px;
  border-radius: 2px;
  border: 2px solid #bc6c25;
  background: repeating-linear-gradient(
    #bc6c25 0px,
    #bc6c25 3px,
    blanchedalmond 3px,
    blanchedalmond 15px
  );
  z-index: -1;
}

#smoke {
  position: absolute;
  top: -50px;
  right: 5%;
  width: 90%;
  height: 75%;
  border-radius: 50%;
  background-color: black;
  filter: blur(10px);
}

#house {
  position: relative;
  width: 500px;
  height: 400px;
  left: calc(calc(100% - 500px) / 2);
  top: calc(calc(100% - 400px) / 2);
  border: 12px solid #bc6c25;
  background-color: #dda15e;
}

#roof {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 30%;
  border: 6px solid #bc6c25;
  background:
    repeating-linear-gradient(
      45deg,
      #bc6c25 0px,
      #bc6c25 5px,
      transparent 20px,
      transparent 25px
    ),
    repeating-linear-gradient(
      -45deg,
      #bc6c25 0px,
      #bc6c25 5px,
      transparent 20px,
      transparent 25px
    );
}

#window-1 {
  position: absolute;
  top: calc(30% + 60px);
  width: 90px;
  height: 100px;
  left: 50px;
  border: 6px solid #bc6c25;
  background-color: lightgoldenrodyellow;
}

#window-2 {
  position: absolute;
  top: calc(30% + 60px);
  width: 90px;
  height: 100px;
  right: 50px;
  border: 6px solid #bc6c25;
  background-color: lightgoldenrodyellow;
}

.line {
  position: absolute;
  background-color: #bc6c25;
}

.vertical {
  top: 0;
  left: calc(calc(100% - 6px) / 2);
  width: 6px;
  height: 100%;
}

.horizontal {
  top: calc(calc(100% - 12px) / 2);
  width: 100%;
  height: 6px;
}

#door {
  position: absolute;
  width: 120px;
  height: 190px;
  left: calc(calc(100% - 120px) / 2);
  bottom: 0;
  border: 6px solid #bc6c25;
  background-color: blanchedalmond;
}

.hand-door {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #bc6c25;
}

.sub-door {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bc6c25;
  font-size: 1.6rem;
  font-weight: bold;
  position: absolute;
  width: 160px;
  height: 60px;
  top: calc(100% + 12px);
  left: calc(calc(100% - 175px) / 2);
  border-radius: 5px;
  border: 3px solid #bc6c25;
  transform: skewX(-15deg);
  background-color: lightgoldenrodyellow;
}
