/* Contact Form */

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  width: 420px;
  margin: 75px auto;
  padding: 26px;
  border-radius: 16px;
  box-shadow: 0 1px 5px deepskyblue;
  background-color: whitesmoke;
}

h2 {
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  color: #333;
  margin: 6px;
}

input,
textarea {
  outline: none;
  appearance: none;
  border: 2px solid deepskyblue;
  border-radius: 6px;
  font-size: 0.9em;
  padding: 12px;
  margin-bottom: 16px;
  width: calc(100% - 28px);
}

input:focus,
textarea:focus {
  border: 2px solid greenyellow;
}

input:invalid {
  border: 2px solid orangered;
}

button {
  color: white;
  font-size: 1em;
  display: block;
  margin: 12px auto 0;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 2px solid white;
  background-color: deepskyblue;
}

button:hover {
  background-color: dodgerblue;
}
